{% extends 'main/layout.html' %}
{% load static %}

    {% block content %}
    
    <div class="wrapper">
    <div >
        <h1>Форма для заказа на изготовление</h1>
    <h4>Катенька присмотрит за правильной работой</h4>
        <br><img src="{% static 'main/img/Nina.jpg' %}" alt="logo" class="img"  ><br><br>

    <form method="post" >
        <div class="form">
        {% csrf_token %}
        {{form.name }}<br>
        {{form.mail }}<br>
        {{form.phone }}<br>
        {{form.details }}<br>
        <button class="btn btn-success" type="submit">Заказать изготовление</button>
    </div>
        <!-- <input type="text" placeholder="Ваше имя" class="form-conthol"><br><br>
        <input type="text" placeholder="e-mail" class="form-conthol"><br><br>
        <input type="text" placeholder="Ваш телефон" class="form-conthol"><br><br>
        <textarea placeholder="Детали заказа"></textarea><br><br> -->
        
    </form>
    
</div></div>

{% endblock %}