{% extends 'main/layout.html' %}
{% load static %}

    {% block content %}





<div class="wrapper">
    <div>
    
    <br><h1 class="logo">Прибор Катенька-3000</h1><br>

    <img src="{% static 'main/img/SM3000.jpg' %}" alt="logo" class="img"  >

    <br><br><h3 class="possibilities">Вы сможете:</h3>
    <div class="block" >
        <ul >
            <a href="" ><li><span><i class="fa-solid fa-magnifying-glass-chart fa-beat-fade"></i></span>Анализировать t&#176; в период эксплуатации и в реальном времени</li></a>
            <a href=""><li><span><i class="fa-solid fa-layer-group fa-beat-fade"></i></span>Иметь фактические данные в спорных гарантийных случаях</li></a>

        </ul>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qImctj16sH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3 class="possibilities">Характеристики прибора:</h3>
    <div class="block">
        <table border="1"  width="530" align="center">
            
            <tr>
                <th>Характеристика</th>
                <th>Значение</th>
                  
            </tr>
            <tr>
                <td >Диапазон измеряемых температур </td>
                <td>от 0 до 1000С&#176;</td>           
            </tr>
            <tr>
                <td >Формат сохранения данных </td>
                <td>csv</td>          
            </tr>
            <tr>
                <td >Питание </td>
                <td>12В</td>           
            </tr>

            <tr>
                <td >Ток потребления </td>
                <td>40мА</td>           
            </tr>

            <tr>
                <td >Автономная работа </td>
                <td>от 75ч</td>           
            </tr>

            
        </table>
        <br>
        <h4>Катенька присмотрит за правильной работой</h4>
        <br><img src="{% static 'main/img/Nina.jpg' %}" alt="logo" class="img"  >
        <h3>Количество приборов ограничено</h3>
<h3>Мы уже получили {{ count_id }} заказа(ов), а ты хочешь купить?</h3>
    </div>  
</div>
<a href="{% url 'create' %}"><button class="btn btn-info" >Заказать</button></a> 

</div>  

    



{% endblock %}